#################################### SPRING PROFILE ##########################################
SPRING_PROFILE=local/docker/prod

#################################### DATABASE ###########################################
NOTIFICATION_DB_PORT=
NOTIFICATION_DB_USER=
NOTIFICATION_DB_PASSWORD=

################################### RABBITMQ ###########################################
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

################################### MAIL ##############################################
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=
